/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color:#000;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 .main_container{
     max-width: 1000px;
     min-height: 6000px;
     margin: 0 auto 7em;
 }
 h1, h2{
    /* font-family: 'Roboto', sans-serif; */
  /* color: rgba(166, 173, 255, 0.5);
  text-shadow: 2px 2px 2px #000;);
  color:#9c00c8;;*/
  font-weight: 100;
 }
body, html {
    height: 100%
}
/* spiration backgrounds retrieved from https://www.toptal.com/designers/subtlepatterns/spiration-dark/ created by Monika */
body {
    font-family: 'PT Mono', monospace;
}
.main_container_logo{
margin: 32px 0;
}
.main_container_logo img{
    max-height: 20px;
}
h1{
    font-size: 4.2em;
    text-align: center;
}
h2{    font-size: 2em;
    text-align: center;
}
h3{    font-size: 1.4em;
    text-align: center;
}
p{
    color: #142519;
    font-family: 'Roboto', sans-serif;
}
.main_container_intro{
    display: flex;
    max-height: 1000px;
    max-width: 1000px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
.main_container_intro_title h1.neonText {
    margin: 0;
}
.main_container_intro_title h2.neonText {
    margin: 0 0 10px 0;
}

.trackingCall-buttons h4.neonText {
    text-align: center;
    margin: 5px 0 10px;
    text-decoration: underline #0fa;
}
.callToActionHeader{
    margin: 0;
    font-weight: normal;
}
.products h4.neonText {
    text-align: center;
    margin: 0 0 10px 0;
    text-decoration: underline #0fa;
}

.neonText {
    color: #0fa;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

nav ul li a {
    margin: 38px 5px;
    font-size: 1.4em;
    list-style: none;
    color: #0fa;
    text-decoration: none;
}

nav {
    margin: 2em 0;
}

.all-tracking-calls{
    border: solid 1px #0fa;
    border-radius: 27px;
    padding: 10px;
}
.all-tracking-calls h3.neonText{
    text-align: center;
}
/* Buttons */

.trackCalls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    margin: 0 1em 2em;
}

input.trackCall, .cookieSettings, .footerButton {
    background-color: darkturquoise;
    margin: 10px 5px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 1px #00000059;
    color: white;
    font-family: sans-serif;
    flex-basis: 18%;
}


input.trackCall:active {
    box-shadow: 0 0 0 black;
    background-color: rgb(1, 174, 177);
    color: #e6e3e3;

}

.callToActionImg, .catalogImg {
    max-height: 200px;
    border-radius: 7px;
    margin: 10px;
}
div.product {
    max-width: 300px;
    flex-direction: column;
    margin: 2em auto;
}

img.productImg {
    border-radius: 7px;
    max-width: 300px;
}

div.product p {
    color: black;
    text-align: center;
}

.productLink{
text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.productLink p{
    color: black;
}

.tracking-alert-box {
    height: 200px;
    width: 500px;
    margin: 0px auto 20px;
    border: solid 1px #0fa;
    border-radius: 11px;
    box-shadow: 6px 7px 15px -3px rgba(0,206,209,0.9);
    overflow-y: scroll;
}

.tracking-alert-box::-webkit-scrollbar-thumb {
    background-color: rgba(0,206,209,0.9);
    border-radius: 34px;
    border: 1px solid #0fa;
}
.tracking-alert-box::-webkit-scrollbar {
    width: 5px;
}
.tracking-alert-box::-webkit-scrollbar-track {
    background: #0fa;
}
.tracking-alert-box .alertText{
    margin: 5px;
}
.tracking-alert-box .alertText p {
    margin: 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
